/* src/app/styles/Main.module.css */
.container {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
    color: #111827;
}

.description {
    text-align: center;
    color: #4b5563;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-family: Menlo, Monaco, Lucida Console, monospace;
}