# Local env files
.env
.env*.local
.env.copy
.env

merge_files.sh
merge_files_commands.txt
output.txt

# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Production
/build

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Misc
.DS_Store
*.pem